<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acqua Panna</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    
</head>
<body>
    <div class="Acqua Panna">
        <h1 align="center">Acqua Panna</h1>
        <h3>If you're dreaming of soaking up the sun somewhere amongst the Tuscan hills, then Acqua Panna will surely transport you there. According to Drinkpreneur, this water was named after the actual Villa Panna Estate, owned by Florence's Medici family.

            A 100% natural spring water that complements any fine dining experience, we can't help but note that this might be the classiest H20 on our list. It's to no surprise that the brand's tagline is "water worth savoring." This smooth-as-silk water is also naturally alkaline and filtered to preserve a special mineral balance that lends to its sophisticated taste.
            
            "Expensive, yes. But nothing really compares. It's great with fine meals, and it clears the palate very well. What I like is that it has a high mineral content that tastes sweet on the buds," wrote one Amazon purchaser.
            
            All Acqua Panna bottles are 100% recyclable and are BPA free. Overall, we're positive that Acqua Panna won't disappoint and is always a sweet indulgence.
            
             </h3>
            <form action="/brands" method="get" >
                <button class="btn p-2 my-lg-0 my-2 btn-primary" type="submit">Go Back</button>
              </form>
    </div>
    
</body>
</html>