<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eternal</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    
</head>
<body>
    <div class="Eternal">
        <h1 align="center">Eternal</h1>
        <h3>When it comes to spring water from the purest, most naturally alkaline wells, Eternal Water checks the box with full force. Better yet, it's sourced right here in the United States, specifically from the majestic Shasta-Trinity Alps in California. According to Eternal Water, the underground springs were forged from energetic volcanic activity and ancient plate collisions. The waters flow annually thanks to snowmelt from higher altitudes. 

            Aside from California, the brand's ancillary sourcing springs are in the Allegheny Mountains, Great Smoky Mountains, and Ouachita National Forest. This highly-acclaimed water brand also established an unwavering commitment never to include additives. The only "extras" you'll find are naturally occurring electrolytes. Rest assured, this water bottle company also fosters an eternal fan group on Amazon, with 82% five-star reviews.
            
            "I love this water! I've been drinking it for over a year, consistently tastes great, no weird smell like some reviewers claim, very hydrating. Contains NO fluoride! If you go to Eternal's FAQ page, it says using regular pH test strips will NOT accurately determine pH- so for me, I go with how I feel- LOVE Eternal water," said a verified Amazon buyer.
            
            </h3>
            <form action="/brands" method="get" >
                <button class="btn p-2 my-lg-0 my-2 btn-primary" type="submit">Go Back</button>
              </form>
    </div>
    
</body>
</html>