<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ethos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    
</head>
<body>
    <div class="Ethos">
        <h1 align="center">Ethos</h1>
        <h3>Chances are, you've spotted Ethos in the cooler at your local Starbucks. Perhaps you even picked up a bottle with your to-go protein box or ham and swiss baguette. Or maybe you've seen celebrities like Leonardo DiCaprio and Cameron Diaz endorse it while walking the red carpet. Not only is it a high-quality, natural spring water brand, but Starbucks-owned Ethos maintains strong philanthropic roots by donating five cents per bottle sold to helping children around the world drink clean water.

            "When our customers choose to buy Ethos Water, they're improving the lives of people who lack vital resources," Starbucks CEO Howard Schultz said in 2008, according to MotherJones. So not only will grabbing a bottle of Ethos keep you hydrated, but you'll be helping people in water-stressed areas.
            
            You might question the quality of bottled water at Starbucks, but trust us, this one is not bitter whatsoever and is smooth, down to the very last drop!
            
            </h3>
            <form action="/brands" method="get" >
                <button class="btn p-2 my-lg-0 my-2 btn-primary" type="submit">Go Back</button>
              </form>
    </div>
    
</body>
</html>