<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Evian</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    
</head>
<body>
    <div class="Evian">
        <h1 align="center">Evian</h1>
        <h3>Most hydrologists will agree that Evian is one of the most straightforward, credible water brands on the market, simply because of its "nothing added" approach. Evian comes straight from nature without any enhancements or additives. In fact, this unadulterated water is sourced from a glacial plateau in the majestic French Alps that was formed almost 50,000 years ago! The filtration process leaves in naturally occurring electrolytes and minerals, with a pH of 7.2 When you drink Evian, it's a guarantee that you'll drink crisp, rejuvenating bottled water that hydrates your entire body quickly.

            In fact, this type of hydration is so potent that it can completely up-level your beauty routine. Evian partnered up with Bluemercury to advocate beauty from within, starting with drinking high-quality water. Ultimately, Evian leaves your skin feeling fully hydrated and glowing. So if you're yearning to feel good from the inside out, stock up on Evian.
            
           
            </h3>
            <form action="/brands" method="get" >
                <button class="btn p-2 my-lg-0 my-2 btn-primary" type="submit">Go Back</button>
              </form>
    </div>
    
</body>
</html>