<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fiji</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    
</head>
<body>
    <div class="fiji">
        <h1 align="center">Fiji</h1>
        <h3>Since 1996, Fiji has offered clean, rainforest water to 60 countries. Sourced from an ancient artesian aquifer surrounded by dormant volcanoes, its purity is simply due to the fact that it's naturally filtered by volcanic rock. This allows the water to collect substantial amounts of electrolytes and minerals including silica, calcium, and magnesium, which enhance its effortless, pleasant taste.
          Some also view Fiji as luxury water, but in our opinion, it's completely warranted. According to The Cold Wire, Fiji has spent millions of dollars on becoming a 100% green company and living by a sustainability pledge. This includes using minimal resources and minimizing their carbon footprint as well as carbon emissions. It's also high in demand, especially within the hospitality industry, which logically drives up the price. Regardless, customers continue to buy Fiji simply due to its reputation and natural taste.

          "I am the most fanatical person when it comes to drinking water. After having stomach surgery, my taste buds have eliminated most brands of bottled water because I taste unpleasant chemicals and such. This is the only brand I buy! Nothing compares to my Fiji water," raved one Amazon buyer.

          
            </h3>
            <form action="/brands" method="get" >
                <button class="btn p-2 my-lg-0 my-2 btn-primary" type="submit">Go Back</button>
              </form>
    </div>
    
</body>
</html>