<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Icelandic Glacial</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    
</head>
<body>
    <div class="Icelandic Glacial">
        <h1 align="center">Icelandic Glacial</h1>
        <h3>With a high pH level of 8.4, Icelandic Glacial is positioned as a special hydrating elixir filtered for 5,000 years through layers of lava rock, then sourced from one of the most immaculate ecosystems in Iceland — the Ölfus Spring. It's also the very first water bottle company to be certified carbon neutral by a permitting body. In layman's terms, this means that the sourcing and bottling process is powered in a way that doesn't add any carbon to the climate (per CNET). 

            The award-winning packaging is also unmissable, emulating the natural curvature of sculpted glaciers. Per Icelandic Glacial, the packaging was even recognized as the "Best Overall Concept and Best Label" at the Bottled Water World Design Awards in 2005. Icelandic Glacial is a state-of-the-art water brand that promises to deliver the cleanest water in the world. Also, with over 10,000 reviews on Amazon, many consumers share an unwavering loyalty to this brand.
            
            "I am a water junkie and if my advice counts for anything, this is one of the best tasting waters I have ever had. It's so clear and smooth. Now I talk about water like it's a cocktail or can of soda, and maybe water is water. However, this water really is a cut above the rest" said a verified Amazon reviewer.
            
            
            
           
            </h3>
            <form action="/brands" method="get" >
                <button class="btn p-2 my-lg-0 my-2 btn-primary" type="submit">Go Back</button>
              </form>
    </div>
    
</body>
</html>