<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Penta</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    
</head>
<body>
    <div class="Penta">
        <h1 align="center">Penta</h1>
        <h3>Employing an extensive U.S.-patented 13-step purification process to obliterate all impurities, Penta Water is marketed as an ultra-pure, bottled water brand, completely free of nasty pollution and additives. This crystal-clean water runs through microfiltration to remove contaminants, reverse osmosis to excavate impurities, plus deionization to strip away lingering minerals.

            It's then described as being chlorine-free, arsenic-free, fluoride-free, along with a litany of other attractive specifications. Basically, in layman's terms, this is as pure as you can find. It's also important to note that since Penta doesn't include additives, it has a natural occurring pH. If things couldn't look brighter, they also utilize solar energy to fuel the entire purification and bottling process.
            
            Many reviewers describe Penta as the ultimate hydration and ultra smooth to drink, unlike any other water brands available on the market. "No other water I've tried can hydrate my body like Penta. I can literally tell the difference, especially early in the morning on an empty stomach. Every other water sort of lays there in the stomach and sloshes around for a while before moving slowly through the system. Plus I can tell it never really hydrates me fully, and I'm still thirsty. Not so with this. This one also helps with constipation because it gets into your tissues quickly and efficiently," wrote one satisfied Amazon reviewer.
            
            <form action="/brands" method="get" >
                <button class="btn p-2 my-lg-0 my-2 btn-primary" type="submit">Go Back</button>
              </form>
    </div>
    
</body>
</html>