<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VOSS</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    
</head>
<body>
    <div class="voss">
        <h1 align="center">Voss</h1>
        <h3>When we think of Voss, visions of heading to the spa for a luxurious self-care day comes to mind. Not only is the BPA-free bottle sleek and refined, the water itself is a notch above the rest, sourced from an aquifer beneath the earth, with minimal Total Dissolved Solids (TDS). If you're not in the mood for still water, you can even opt for sparkling, adding a touch of vigor to your day. Or, you can experiment with VOSS+, bringing another level of designer hydration to the H2O universe.

            According to GlobalNewsWire, VOSS+ encompasses three new products, including VOSS + Collagen, VOSS + Vitamin D and VOSS + Aquamin®. If your goal is to preserve a youthful glow, the collagen option is described as "radiance in a bottle," packed with 10 grams of collagen protein, keeping your skin beaming and healthy.
            
            Needless to say, we're certain that any of these deluxe water options from Voss will definitely quench your thirst.
            
            
            </h3>
            <form action="/brands" method="get" >
                <button class="btn p-2 my-lg-0 my-2 btn-primary" type="submit">Go Back</button>
              </form>
    </div>
    
</body>
</html>