<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Waiākea</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    
</head>
<body>
    <div class="Waiākea">
        <h1 align="center">Waiākea</h1>
        <h3>If you can't hop on a plane to visit the lush, tropical lands of Hilo, Hawaii, perhaps sipping on Waiākea water will quickly take you there. This brand says its water is known as "purity in its ultimate form." As Waiākea tells it, the process to pump this water is intricate and starts in the bio-diverse forests of Hilo. On the eastern base of the Mauna Loa volcano is a deep well where the water from the snowmelt slowly filters through porous, volcanic rock. As a result, you're left with naturally alkaline water with a pH range of 7.6 to 8.2. Some varieties of Waiākea water are even bottled in a sustainable, proprietary bottle made from refillable aluminum. On Trustpilot, this water brand garners over 600 excellent reviews, mainly highlighting the pristine, fresh taste that's so arduous to find with other mainstream bottled water brands.

            "Love this water. Tastes so clean and pure and very hydrating. So glad Sam's Club carries this. I was surprised to see that my nails have been growing so much quicker too. My kids also love it. I sure hope Sam's Club keeps this product," said Jessica via Trustpilot.
            
           </h3>
            <form action="/brands" method="get" >
                <button class="btn p-2 my-lg-0 my-2 btn-primary" type="submit">Go Back</button>
              </form>
    </div>
    
</body>
</html>